/* .App {
    text-align: center;
    direction: rtl;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .header {
    margin-bottom: 30px;
  }
  
  .App-link {
    color: #61dafb;
  } */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.fullpade {
  align-items: flex-end;
  padding: 20px;
  margin: auto;
}

.icon {
  float: left;
}

/* .button {
  
  position: fixed;
    bottom: 20px;
    right: 2033px;
    width: 70px;
    height: 70px;
    background: linear-gradient(270deg, #A827AB 16.15%, #E2B8F0 100%);
    border-radius: 56px;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    border-color: white;
} */

.add-button {
  position: fixed;
    bottom: 20px;
    right: 2033px;
    width: 70px;
    height: 70px;
    background: linear-gradient(270deg, #A827AB 16.15%, #E2B8F0 100%);
    border-radius: 56px;
    color: white;
    text-align: center;
    font-size: 30px;
    line-height: 50px;
    border-color: white;
}

.edit-button {
  position: fixed;
  bottom: 20px;
  right: 1953px;
  width: 70px;
  height: 70px;
  background: linear-gradient(270deg, #A827AB 16.15%, #E2B8F0 100%);
  border-radius: 56px;
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  border-color: white;


}

.edit-button:disabled {
  background-color: #E2B8F0
}

.trash-button {
  position: fixed;
  bottom: 20px;
  right: 1868px;
  width: 70px;
  height: 70px;
  background: linear-gradient(270deg, #A827AB 16.15%, #E2B8F0 100%);
  border-radius: 56px;
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  border-color: white;

}

.trash-button:disabled {
  background-color: #E2B8F0;
}

.Box {
  align-items: center;
}


.popup-wrapper {
  top: 0;
  left: 0;
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup-wrapper .popup-backdrop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.16);
  top: 0;
  left: 0;
  z-index: 1;
}

.popup-wrapper .popup-overlay {
  height: 99%;
  width: 99%;
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: white;
  padding: 0px;
}

.add-note-form {
  position: relative;
  display: flex;
  flex-direction: column;
  top: 30%;
  margin-left: 30%;
  margin-right: 30%;
  /*align-items: stretch;*/
  justify-content: center;
}

.add-note-form .field {
  margin: 15px 0;
  font-size: 300;
}

button[type='submit'] {
  background: linear-gradient(270deg, #A827AB 16.15%, #E2B8F0 100%);
  font-weight: bold;
  color: #ffffff;

}

.notes-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: center;
}

.note-wrapper {
  width: 20.833vw;
  height: 20.833vw;
  box-shadow: 0 0 15px rgba(235, 133, 133, 0.2);
  border: 0.1px solid rgba(0, 0, 0, 0.1);
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  overflow: hidden;
  cursor: pointer;
  transition: 300ms;
}

@media (min-width: 1200px) {
  .note-wrapper {
    width: 13.021vw;
    height: 13.021vw;
  }
}

.note-wrapper.selected {
  box-shadow: 0 0 20px #E2B8F0;
}

.note-wrapper h3 {
  text-overflow: ellipsis;
  margin: 10px 0 0;
  padding: 0 5px;
}

.note-wrapper p {
  direction: rtl;
  padding: 5px;
  overflow: auto;
}

.floating-button {
  position: fixed;
  bottom: 20px;
  right: 2033px;
  width: 70px;
  height: 70px;
  background: linear-gradient(270deg, #A827AB 16.15%, #E2B8F0 100%);
  border-radius: 56px;
  color: white;
  text-align: center;
  font-size: 30px;
  line-height: 50px;
  border-color: white;
}

.floating-button:hover {
  background: linear-gradient(270deg, #721973 16.15%, #E2B8F0 100%);
  cursor: pointer;
  border-color: white;
}
.NotesTitle{
  color: #A827AB;
}